@media (min-width: 600px)
{
    body {
        background-image: url('../images/piano-background2.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    a:hover, a:active {
        text-decoration: underline;
        color: var(--accent-color2);
        border: 2px solid white;
        padding: 10px;
    }

    #fam {
        float: left;
    }

    .about p {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #review {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}