@media (min-width: 600px) and (orientation: landscape)
{
    body {
        background-image: url('../images/piano-background2.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    a:hover, a:active {
        text-decoration: underline;
        color: var(--accent-color2);
        border: 2px solid white;
        padding: 10px;
    }

    .photo {
        float: right;
        padding: 20px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

    h4 {
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }
}