:root {
    --heading-font: 'Gochi Hand', Sans-serif;
    --paragraph-font: 'Open sans', Sans-serif;

    --primary-color: #fff;
    --secondary-color: #008B8B;
    --accent-color: #c7c8b7;
    --accent-color2: #dd7973;
}

/* general styling*/
body {
    margin: 0;
    width: 100%;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    opacity: 100%;
    padding: 20px;
}

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
}

#logo {
    grid-column: 1/2;
}

#cklogo {
    margin-left: 100px;
    max-width: 200px;

}

.menu {
    grid-column: 2/4;
    margin: auto;
    width: auto;
}

ul {
    display: inline-block;
    background-color: #686868;
    padding: 1rem;
    font-weight: bold;
    width: auto;
}

li {
    list-style-type: none;
    display: in-line block;
    justify-content: space-between;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 2rem;
    font-family: var(--paragraph-font);
    color: white;
    font-size: 1rem;
}

a:hover, a:active {
    text-decoration: underline;
    color: var(--accent-color2);
    padding: 1rem;
}

h2 {
    font-family: var(--heading-font);
    width: auto;
    height: 50px;
    background-color: var(--accent-color);
    font-family: var(--heading-font);
    font-size: 40px;
    padding: 25px;
    text-align: center;
}

h3 {
    font-family: var(--heading-font);
    font-size: 25px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 25px;
}

p {
    font-family: var(--paragraph-font);
    font-size: 1.25rem;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    border-bottom: 3px solid var(--secondary-color);
}

#lessons {
    max-width: 300px;
    padding: 30px;
}

table {
    border: 5px solid var(--secondary-color);
    margin: auto;
}

th {
    font-family: var(--paragraph-font);
    font-size: 20px;
}

button, span {
    font-family: var(--paragraph-font);
    font-size: 20px;
    margin: 10px;
}

td {
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: auto;
}   





footer {
    width: 100%;
    margin: auto;
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    opacity: 85%;
}