* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    width: auto;
    font-family: overpass, serif;
    box-sizing: border-box;
}




header {
	background-color: #bbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
    font-size: 2.5rem;
    grid-column: 1/2;
}

nav {
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
    grid-column: 2 / 4;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    font-size: 1.5rem;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover {
    text-decoration: overline;
}

main {
    padding-top: 50px;
    max-width: 1200px;
    margin-top: 50px;
    margin: auto;
    padding: auto;
    text-align: center;
    justify-items: center;
}

h2 {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    max-width: 300px;
}
